record(longout, "$(P)$(R)") {
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC)")
    field(PINI, "$(PINI=NO)")
    field(SCAN, "$(SCAN=Passive)")
    field(OUT,  "@asyn($(PORT))$(PARAM)")
    info(autosaveFields, "VAL")
}
