record(waveform, "$(P)$(R)") {
    field(DTYP,  "asynOctetWrite")
    field(DESC,  "$(DESC)")
    field(PINI,  "$(PINI=NO)")
    field(SCAN,  "$(SCAN=Passive)")
    field(NELM,  "$(NELM)")
    field(FTVL,  "$(FTVL=CHAR)")
    field(INP,   "@asyn($(PORT))$(PARAM)")
}
