record(waveform, "$(P)$(R)") {
    field(DTYP,  "asynOctetRead")
    field(DESC,  "$(DESC)")
    field(PINI,  "$(PINI=YES)")
    field(SCAN,  "$(SCAN)")
    field(NELM,  "$(NELM)")
    field(FTVL,  "$(FTVL=CHAR)")
    field(INP,   "@asyn($(PORT))$(PARAM)")
}
